<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <title>TurboApp - Logowanie</title>

    <meta charset="utf-8">
    <!--    <title>Turbo Service</title>-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <!--  <link href="css/sb-admin-2.min.css" rel="stylesheet">-->

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body class="paralax-mf footer-paralax bg-image"
      style="background-image: url(img/front-garrett_v3.jpg);background-color: black">

<!--/ Section Contact-Footer Star /-->
<!--<section class="paralax-mf footer-paralax bg-image"-->
<!--         style="background-image: url(img/front-garrett_v2.jpg)">-->
<div class="overlay-turbo-mf" style="width: fit-content"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="contact-mf">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-box-2">
                                <h5 class="title-left">
                                    Logowanie
                                </h5>
                            </div>
                            <div>
                                <form class="user" th:action="@{/login-process}"
                                      th:method="post"
                                      th:object="${user}">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <div class="form-group">
                                                <input th:name="email" th:type="email"
                                                       class="form-control form-control-user"
                                                       id="inputLogin"
                                                       placeholder="Podaj email">
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <div class="form-group">
                                                <input th:name="password" th:type="password"
                                                       class="form-control form-control-user"
                                                       id="inputPassword"
                                                       placeholder="Podaj hasło">
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <input th:type="submit" value="Zaloguj"
                                                   class="btn btn-turbo-primary mt-2 float-center">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<footer>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-12">-->
<!--                <div class="copyright-box">-->
<!--                    <p class="copyright">&copy; Copyright <strong>TurboGroup</strong>. All-->
<!--                        Rights-->
<!--                        Reserved</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--</section>-->
<!--/ Section Contact-footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/counterup/jquery.waypoints.min.js"></script>
<script src="lib/counterup/jquery.counterup.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>
