<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>Nowe zamówienie</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <!--  <link href="css/style.css" rel="stylesheet">-->
    <link href="css/style-navbar-white.css" rel="stylesheet">
    <link href="css/style-turbo.css" rel="stylesheet">
    <!--  <link href="css/sb-admin-2.min.css" rel="stylesheet">-->

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body id="page-top">

<!--/ Nav Star /-->
<nav th:replace="fragments/navbar2 :: navbar2"></nav>
<!--/ Nav End /-->

<div class="row" style="display: block"></div>
<h3 class="title-a">

</h3>
<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <form th:action="@{/create}" th:method="post" th:object="${order}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a" style="margin-top: 100px">
                            Lista zamówień
                        </h3>
                        <p class="subtitle-a"></p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="row">
                    <p>Filtruj po numerze turbo:</p>
                </div>
                <div class="row">
                    <input type="text" id="searchInputTurboNumber"
                           onkeyup="runSearchTurboByNumberFunctions()"
                           placeholder="numer turbosprężarki" title="Wpisz numer" style="width: 200px">
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <p>Filtruj po modelu turbo:</p>
                </div>
                <div class="row">
                    <input type="text" id="searchInputTurboModel"
                           onkeyup="runSearchTurboByModelFunctions()"
                           placeholder="model turbosprężarki" title="Wpisz numer" style="width: 200px">
                </div>
            </div>



            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">


                        <table class="table table-hover table-dark-turbo" id="dataTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Numer zamówienia</th>
                                <th>Data</th>
                                <th>Numer turbo</th>
                                <th>Model</th>
                                <th>Przyczyna awarii</th>
                                <th>Części</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${listorder}">
                                <td th:text="${order.id}"></td>
                                <td th:text="'ZAM-'+${order.id}"></td>
                                <td th:text="${order.orderDate}"></td>
                                <td th:text="${order.turbocharger.number}"></td>
                                <td th:text="${order.turbocharger.model}"></td>
                                <td th:text="${order.reason.name}"></td>
                                <td th:text="${order.parts}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p id="summaryId"></p>
                    </div>
                </div>
            </div>

            <hr>

        </div>
    </form>
</section>


<!-- Scroll to Top Button-->
<!--<a class="scroll-to-top rounded" href="#page-top">-->
<!--    <i class="fas fa-angle-up"></i>-->
<!--</a>-->
<!--/ Section Services End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/counterup/jquery.waypoints.min.js"></script>
<script src="lib/counterup/jquery.counterup.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>


<!-- Script to search and row count -->
<script type="text/javascript">

    function runSearchTurboByNumberFunctions() {
        searchTurboNumberFunction();
        rowsCount();
    }

    function runSearchTurboByModelFunctions() {
        searchTurboModelFunction();
        rowsCount();
    }

    function rowsCount() {
        // var totalRowCount = $("#dataTable tr").length;
        var rowCount = $('#dataTable tr').filter(function () {
            return $(this).css('display') !== 'none';
        }).length - 1;
        var message = "\nLiczba zamówień spełniających kryteria filtrowania: " + rowCount;
        var sumRows = document.getElementById("summaryId");
        sumRows.innerText = message;
    }

    function searchTurboNumberFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInputTurboNumber");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function searchTurboModelFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInputTurboModel");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>

<!-- Script to activate radio button and change row color after click anywhere in table -->
<script>
    $('.table tbody tr').click(function (event) {
        if (event.target.type !== 'radio') {
            $(':radio', this).trigger('click');
            var selected = $(this).hasClass("highlight");
            $(".table tr").removeClass("highlight");
            if (!selected)
                $(this).addClass("highlight");
        }
    });
</script>
</body>
</html>