<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="utf-8">
    <title>Nowe zamówienie</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <!--  <link href="css/style.css" rel="stylesheet">-->
    <link href="css/style-navbar-white.css" rel="stylesheet">
    <link href="css/style-turbo.css" rel="stylesheet">
    <!--  <link href="css/sb-admin-2.min.css" rel="stylesheet">-->

    <!--    edit and remove icons START-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--    edit and remove icons STOP-->

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body id="page-top">

<!--/ Nav Star /-->
<nav th:replace="fragments/navbar2 :: navbar2"></nav>
<!--/ Nav End /-->

<div class="row" style="display: block"></div>
<h3 class="title-a">

</h3>
<!--/ Section Services Star /-->
<section class="services-mf route">
    <form>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a" style="margin-top: 100px">
                            Turbosprężarki
                        </h3>
                        <p class="subtitle-a"></p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-dark-turbo" id="dataTable">
                            <thead>
                            <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Numer</th>
                                <th scope="col">Producent</th>
                                <th scope="col">Edytuj lub usuń</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="turbo : ${turbos}">
                                <td th:text="${turbo.getModel()}"></td>
                                <td th:text="${turbo.getNumber()}"></td>
                                <td th:text="${turbo.getProducer()}"></td>
                                <td>
                                    <a th:href="@{/updateTurbo/{id}(id=${turbo.id})}"
                                       class="btn btn-dark-turbo float-center" style="margin-right: 10px">
                                        <ion-icon name="build-outline"></ion-icon>
                                    </a>
                                    <span></span>
                                    <a th:href="@{deleteTurbo/__${turbo.id}__}"
                                       class="btn btn-dark-turbo float-center">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--            <div>-->
            <!--                <a href="addTurbo">-->
            <!--                    <input type="button" value="Dodaj nowy model"-->
            <!--                           class="btn btn-dark-turbo float-center"-->
            <!--                           style="float: right">-->
            <!--                </a>-->
            <!--            </div>-->

            <!--            <div>-->
            <!--                &lt;!&ndash;                <a href="addTurbo">&ndash;&gt;-->
            <!--                <input onclick="hideUnhideFunction()" type="button" value="TEST"-->
            <!--                       class="btn btn-dark-turbo float-center"-->
            <!--                       style="float: right">-->
            <!--                &lt;!&ndash;                </a>&ndash;&gt;-->
            <!--            </div>-->


        </div>
    </form>
</section>

<section>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="addTurbo">
                        <input type="button" value="OLD Dodaj nowy model"
                               class="btn btn-dark-turbo float-center"
                               style="float: right">
                    </a>

                    <input onclick="hideUnhideFunction()" type="button" value="Dodaj nowy model"
                           class="btn btn-dark-turbo float-center"
                           style="float: right">
                </div>
            </div>
        </div>
    </form>
</section>


<!-- Section to add new turbocharger - hidden by default START-->
<section id="addTurboSection" style="display: none" class="services-mf route">
    <form>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="subtitle-a"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-dark-turbo">
                            <thead>
                            <tr>
                                <th scope="col">Model</th>
                                <th scope="col">Numer</th>
                                <th scope="col">Producent</th>
                                <th scope="col">Dodaj</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <!--                                <td><input type="text" PLACEHOLDER="wpisz model" style="background-color: transparent;color: magenta" ></td>-->
                                <!--                        <td><input th:field="*{model}" th:type="text" id="model" class="input-table" placeholder="wpisz model"></td>-->
                                <td><input class="input-table" placeholder="wpisz model"></td>
                                <td><input class="input-table" placeholder="wpisz numer"></td>
                                <td><input class="input-table" type="text" placeholder="wpisz producenta"></td>
                                <!--                                <td contenteditable="true" ></td>-->
                                <!--                                <td th:text="Producer"></td>-->
                                <td>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <a href="addTurbo">
                    <input type="button" value="Zatwierdź"
                           class="btn btn-dark-turbo float-center"
                           style="float: right">
                </a>
            </div>

        </div>
    </form>
</section>
<!-- Section to add new turbocharger - hidden by default STOP-->


<!-- Scroll to Top Button-->
<!--<a class="scroll-to-top rounded" href="#page-top">-->
<!--    <i class="fas fa-angle-up"></i>-->
<!--</a>-->
<!--/ Section Services End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/counterup/jquery.waypoints.min.js"></script>
<script src="lib/counterup/jquery.counterup.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/typed/typed.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

<!-- Script to activate radio button and change row color after click anywhere in table -->
<script>
    $('.table tbody tr').click(function (event) {
        if (event.target.type !== 'radio') {
            $(':radio', this).trigger('click');
            var selected = $(this).hasClass("highlight");
            $(".table tr").removeClass("highlight");
            if (!selected)
                $(this).addClass("highlight");
        }
    });
</script>

<!-- Script to hide/unhide section-->
<script>
    function hideUnhideFunction() {
        var x = document.getElementById("addTurboSection");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</body>
</html>